.app_body {
  background-color: #fff2f2;
}
.app_content {
  margin: 0 20px;
}
.menu {
  display: block;
  margin: 0 40px;
}
.menu__text {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.menu__list {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  text-align: center;
  height: 120px;
  width: 100px;
  border-radius: 20px;
  background-color: #fff;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:nth-child(1) {
  margin: 0;
}
.menu__item--overal {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  left: 33px;
  top: 12px;
}
.menu__item--text {
  padding-top: 14px;
  font-weight: 700;
  color: #000;
  font-size: 13px;
}
.menu__item--footer {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  left: 40px;
  top: -5px;
  background-color: #ff8000;
  display: flex;
  justify-content: center;
}
.menu__item--footer__icon-down {
  width: 14px;
  height: 14px;
  align-items: center;
  color: #fff;
  display: none;
  position: relative;
  top: 2px;
}
.menu__item--footer__icon-right {
  width: 14px;
  height: 14px;
  color: #fff;
  align-items: center;
  display: block;
  position: relative;
  top: 2px;
}
.menu__item.menu__item--active {
  background-color: #ff8000;
}
.menu__item--active .menu__item--text {
  color: #fff;
}
.menu__item--active .menu__item--footer {
  background-color: #fff;
}
.menu__item--active .menu__item--footer__icon-right {
  color: #ff8000;
}
.menu__item--active .menu__item--footer__icon-down {
  display: block;
  color: #ff8000;
}
.menu__item--active .menu__item--footer__icon-right {
  display: none;
}
.product-list {
  width: 100%;
  margin-top: 120px;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.grid__column-3 {
  width: calc(31%);
  margin-left: 16px;
}
.product-item {
  background-color: #fff;
  height: 150px;
  border-radius: 20%;
  margin-bottom: 100px;
  position: relative;
}
.product-item__img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.product-item__img {
  position: absolute;
  top: -50%;
  left: 60px;
  transition: all 0.2s ease-in-out;
}
.product-item__header {
  margin-top: 70px;
  font-weight: 600;
}
.product-item__info__start--icon {
  width: 12px;
  height: 12px;
}
.product-item__info__start--icon-color {
  color: #ff8000;
}
.product-item__info__price {
  font-weight: 600;
}
.product-item__price-current {
  font-size: 16px;
  color: #ff8000;
}
.product-item__content__add {
  background-color: #ff8000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.product-item__add--icon {
  width: 10px;
  height: 10px;
}
.product-item___content {
  display: flex;
  justify-content: space-between;
}
.product-item__content__add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.product-item__content__add:hover {
  cursor: pointer;
}
.header__search {
  margin-left: 510px;
  width: 100%;
}
.header__input_search {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #fff;
  color: #666;
  padding: 0 20px;
}
.header__icon__search {
  width: 17px;
  height: 17px;
  color: #333;
  font-weight: 500;
  position: relative;
  top: -2px;
  left: -40px;
}
.header__banner {
  width: 720px;
  height: 200px;
  background-color: #ffecd1;
  margin: 40px 0 40px 60px;
  border-radius: 20px;
}
.right {
  position: absolute;
  right: 0;
  width: 371px;
  height: 700px;
  background: rgb(255, 255, 255);
  top: 0px;
  border-radius: 20px 0px 0px 0px;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
}
.frame3 {
  /* background: black; */
  background-image: url(../img/pz.png);
  height: 50px;
  width: 85px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
}
.group9 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  /* align-content: revert; */
  align-items: center;
}
.group9 a {
  text-decoration: none;
  color: orange;
  right: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.text-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.view-all {
  position: relative;
}
.view-all::after {
  top: 25%;
  position: absolute;
  right: -15px;
  width: 10px;
  height: 10px;
  background-color: #ff9800;
  content: '';
  background-image: url(../img/more.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 313px;
  height: 462px;
  overflow-y: auto;
}
.frame2::-webkit-scrollbar-track,
.frame2::-webkit-scrollbar,
.frame2::-webkit-scrollbar-thumb {
  color: transparent;
  width: 0px;
  height: 0;
}
.cart-item {
  width: 313px;
  height: 84px;
  display: flex;
  position: relative;
  /* margin-bottom: 24px; */
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.cart-item .cart-img {
  height: 100%;
  width: 84px;
  border-radius: 54.5px;
  display: inline-block;
  z-index: 2;
  transition: 0.5s;
}
.cart-item:hover .cart-img {
  transform: rotate(360deg);
  transition: 0.5s;
}
.cart-item:hover .orange,
.cart-item:hover {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.cart-img img,
.des-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-item-name-quantity,
.des-name-quantity {
  display: inline-block;
  z-index: 2;
}
.cart-item-name-quantity span {
  display: block;
}
.cart-item-price {
  font-weight: bold;
  position: absolute;
  left: 71.88%;
  right: 6.39%;
  top: 54.76%;
  bottom: 21.43%;
  z-index: 2;
}
.orange {
  color: orange;
  display: inline-block;
}
.remove {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 270px;
  top: 19px;
  background-image: url(../img/trash-2.svg);
  width: 24px;
  height: 24px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.cart-item:hover .remove {
  transition: 0.5s;
  opacity: 1;
}
.cart-item:after {
  content: '';
  position: absolute;
  background: #ffecd1;
  border-radius: 57px;
  width: 300px;
  height: 60px;
  left: 4.15%;
  z-index: 1;
  transition: 0.5s;
}
.cart-item:hover::after {
  background-color: orange;
  transition: 0.5s;
}
.btn-check-out {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 311px;
  height: 55px;
  background: #ff8000;
  border-radius: 46.5px;
  bottom: 30px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.des {
  display: inline-flex;
  align-items: center;
}
.des-img {
  width: 139.86px;
  height: 141.17px;
}
.des-name-quantity {
  font-weight: 600;
  transform: translateY(-50%);
}
.des-name-quantity .name {
  font-size: 15px;
  line-height: 18px;
  width: 130.74px;
  text-transform: capitalize;
}
.des-name-quantity .quantity {
  font-size: 14px;
  line-height: 17px;
}
.des-name-quantity span {
  display: block;
}
.listbox-component span {
  font-weight: 500;
}
.listbox-title {
  line-height: 35px;
}
.clip-list {
  margin-bottom: 25px;
}
.listbox-main {
  height: 60px;
  width: 280px;
  top: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  list-style: none;
  padding: 20px 0 20px 16px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: none;
  outline: 0;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
.listbox-main:after {
  content: '';
  position: absolute;
  height: 16px;
  width: 13px;
  /* left: 262px; */
  top: 50%;
  right: 11.69%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
  background-image: url(../img/Chevron.png);
  transform: translateY(-50%);
}
.listbox-main::after {
  opacity: 0.8;
  font-weight: 400;
  text-transform: capitalize;
}
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  color: black;
  height: 60px;
  width: 280px;
  top: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  list-style: none;
  padding: 20px 0 20px 16px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: none;
  outline: 0;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.select-selected:after {
  content: '';
  position: absolute;
  height: 16px;
  width: 13px;
  top: 50%;
  right: 11.69%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
  background-image: url(../img/Chevron.png);
  transform: translateY(-50%) rotate(0deg);
  transition: 0.5s;
}

.select-selected.select-arrow-active:after {
  transform: rotate(180deg) translateY(50%);
  transform-origin: center;
  transition: 0.5s;
}

.select-items div,
.select-selected {
  display: flex;
  font-size: 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1)
    transparent;
  cursor: pointer;
  user-select: none;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.8;
  box-sizing: border-box;
}

.select-items {
  position: absolute;
  top: calc(100% + 15.25px);
  left: 0;
  right: 0;
  z-index: 99;
  width: 280px;
  border-radius: 8px;
  background-color: white;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-selected {
  padding: 20px 0 20px 16px;
}
.select-items div {
  width: 280px;
  height: 44px;
  padding: 12px 0 12px 16px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border: none;
}
.slider {
  display: inline-block;
  width: 280px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.slider-item {
  position: static;
  width: 65px;
  height: 66px;
  display: inline-flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  margin: 0 4px;
}
.slider-item:hover {
  cursor: pointer;
}
.item-added {
  background: #ff8000;
}
.slider-item-img {
  height: 19.74026107788086px;
  width: 17.401575088500977px;
}
.slider-item-img img {
  width: 100%;
  height: 100%;
}
.slider-item-add {
  background-image: url(../img/add.png);
  height: 14.4px;
  width: 11.2px;
}
.slider-item-added {
  background-image: url(../img/checked.png);
  height: 11.4px;
  background-color: white;
  border-radius: 50%;
  width: 11.2px;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider-name-quantity {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.tp-title {
  line-height: 30px;
}
.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  position: absolute;
  display: none;
  opacity: 0;
}
.btn-check-out.add {
  bottom: 15px;
}
