body {
  background-color: #fff2f2 !important;
}
body{
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff2e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8800;
}

.app_body {
  padding-top: 30px;
}
.app_content {
  margin: 0 30px;
}

.menu {
  display: block;
  margin-top: 30px;
}
.menu__text {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.menu__list {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  text-align: center;
  height: 120px;
  width: 110px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(255, 128, 1, 0.25),
    -2px -2px 4px rgba(208, 208, 208, 0.15);
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:nth-child(1) {
  margin: 0;
}
.menu__item--overal {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.menu__item--overal svg {
  width: 100%;
  height: 100%;
  fill: #000;
  border-radius: 50px;
}

.menu__item--active svg {
  fill: #ff8000;
}

.menu__item--text {
  font-weight: 700;
  color: #000;
  font-size: 13px;
}
.menu__item--footer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff8000;
  display: flex;
  justify-content: center;
}
.menu__item--footer__icon-down {
  width: 100%;
  height: 100%;
  align-items: center;
  display: none;
}
.menu__item--footer__icon-right {
  width: 100%;
  height: 100%;
  color: #fff;
  align-items: center;
}
.menu__item.menu__item--active {
  background-color: #ff8000;
}
.menu__item--active .menu__item--text {
  color: #fff;
}
.menu__item--active .menu__item--footer {
  background-color: #fff;
}
.menu__item--active .menu__item--footer__icon-right {
  color: #ff8000;
}
.menu__item--active .menu__item--footer__icon-down {
  display: block;
  color: #ff8000;
}
.menu__item--active .menu__item--footer__icon-right {
  display: none;
}
.product-list {
  width: 100%;
  margin-top: 90px;
}

.product-item {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.product-item:hover .product-item__header{
  color: #ff8000;
}
.product-item__img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transform: rotate(20deg);
  transition: 0.5s;
}

.product-item * {
  z-index: 2;
}

.product-item::after {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 20px;
  width: 95%;
  align-self: center;
  height: 150px;
  left: auto;
  box-shadow: 4px 4px 4px rgba(255, 128, 1, 0.25),
    -2px -2px 4px rgba(208, 208, 208, 0.15);
}

.product-item__img {
  width: 60%;
  margin: auto;
  margin-top: -70px;
  transition: all 0.2s ease-in-out;
}
.product-item__header {
  font-weight: 700;
}
.product-item__info__start--icon {
  width: 12px;
  height: 12px;
}
.product-item__info__start--icon-color {
  color: #ff8000;
}
.product-item__info__price {
  font-weight: 700;
}
.product-item__price-current {
  font-size: 16px;
  color: #ff8000;
}
.product-item__content__add {
  background-color: #ff8000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.product-item__add--icon {
  width: 10px;
  height: 10px;
}
.product-item___content {
  display: flex;
  justify-content: space-between;
}
.product-item__content__add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.product-item__content__add:hover {
  cursor: pointer;
}
.header__search {
  position: relative;
  top: -60px;
  right: -18px;
  float: right;
}
.header__input_search {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #fff;
  color: #666;
  padding: 0 20px;
}
.header__icon__search {
  width: 17px;
  height: 17px;
  color: #333;
  font-weight: 500;
  position: relative;
  top: -2px;
  left: -40px;
}
.header__banner {
  width: 100%;
  /* background-image: src(./assets/img/banner2.png); */
  /* height: 160px; */
  margin-top: 50px;
}

.header__banner img {
  width: 100%;
  /* position: relative; */
  /* bottom: 30px; */
}

.cart__container {
  /*  */
}

.right {
  padding: 16px 30px 31px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  font-family: Montserrat;
  font-style: normal;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  width: 33%;
}

.logo {
  display: flex;
  flex-direction: row-reverse;
}

.logo svg{
  cursor: pointer;
}

.cart {
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.group9 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.group9 a {
  text-decoration: none;
  color: #ff8000;
  right: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.text-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.view-all {
  position: relative;
}
.view-all::after {
  top: 25%;
  position: absolute;
  right: -15px;
  width: 10px;
  height: 10px;
  background-color: #ff9800;
  content: '';
  background-image: url(../img/more.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.view-all:hover {
  text-decoration: none;
  color: #ff8000;
}

.frame2 {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}
.frame2::-webkit-scrollbar-track,
.frame2::-webkit-scrollbar,
.frame2::-webkit-scrollbar-thumb {
  color: #ff8000;
  width: 5px;
  height: 0;
}
.cart-item {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.cart-img {
  height: 100%;
  border-radius: 54.5px;
  z-index: 2;
  transition: 0.5s;
}
.cart-item:hover .cart-img {
  transform: rotate(20deg);
}
/* .cart-item:hover .orange,
.cart-item:hover {
  color: white;
} */
.cart-img img{
}
.cart-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-item-name-quantity {
  z-index: 2;
  flex: 1;
  align-items: center;
  display: flex;
}
.cart-item-name-quantity span {
  display: block;
}

.product-volumeBtn {
  cursor: pointer;
}

.cart-item-name {
  flex: 1;
  align-items: center;
}

.cart-item-price {
  font-weight: bold;
  z-index: 2;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}
.orange {
  color: #ff8000;
  display: inline-block;
}

.price {
  display: flex;
}

.remove {
  width: 24px;
  height: 24px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  display: none;
}
.cart-item:hover .remove {
  opacity: 1;
  display: block;
}
.cart-item:after {
  content: '';
  position: absolute;
  background: #ffecd1;
  border-radius: 57px;
  width: 90%;
  height: 70px;
  right: 0;
  z-index: 1;
}
.btn-check-out {
  color: white;
  min-height: 55px;
  background: #ff8000;
  border-radius: 46.5px;
  font-size: 18px;
  margin-top: 40px;
  font-weight: 400;
  line-height: calc(22 / 18);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.empty-icon {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
