.app_body {
  background-color: #fff2f2;
}
.app_content {
  margin: 0 20px;
}
.menu {
  display: block;
  margin: 0 40px;
}
.menu__text {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.menu__list {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  text-align: center;
  height: 120px;
  width: 100px;
  border-radius: 20px;
  background-color: #fff;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:nth-child(1) {
  margin: 0;
}
.menu__item--overal {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  left: 33px;
  top: 12px;
}
.menu__item--text {
  padding-top: 14px;
  font-weight: 700;
  color: #000;
  font-size: 13px;
}
.menu__item--footer {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  left: 40px;
  top: -5px;
  background-color: #ff8000;
  display: flex;
  justify-content: center;
}
.menu__item--footer__icon-down {
  width: 14px;
  height: 14px;
  align-items: center;
  color: #fff;
  display: none;
  position: relative;
  top: 2px;
}
.menu__item--footer__icon-right {
  width: 14px;
  height: 14px;
  color: #fff;
  align-items: center;
  display: block;
  position: relative;
  top: 2px;
}
.menu__item.menu__item--active {
  background-color: #ff8000;
}
.menu__item--active .menu__item--text {
  color: #fff;
}
.menu__item--active .menu__item--footer {
  background-color: #fff;
}
.menu__item--active .menu__item--footer__icon-right {
  color: #ff8000;
}
.menu__item--active .menu__item--footer__icon-down {
  display: block;
  color: #ff8000;
}
.menu__item--active .menu__item--footer__icon-right {
  display: none;
}
.product-list {
  width: 100%;
  margin-top: 120px;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.grid__column-3 {
  width: calc(31%);
  margin-left: 16px;
}
.product-item {
  background-color: #fff;
  height: 150px;
  border-radius: 20%;
  margin-bottom: 100px;
  position: relative;
}
.product-item__img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.product-item__img {
  position: absolute;
  top: -50%;
  left: 60px;
  transition: all 0.2s ease-in-out;
}
.product-item__header {
  margin-top: 70px;
  font-weight: 600;
}
.product-item__info__start--icon {
  width: 12px;
  height: 12px;
}
.product-item__info__start--icon-color {
  color: #ff8000;
}
.product-item__info__price {
  font-weight: 600;
}
.product-item__price-current {
  font-size: 16px;
  color: #ff8000;
}
.product-item__content__add {
  background-color: #ff8000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.product-item__add--icon {
  width: 10px;
  height: 10px;
}
.product-item___content {
  display: flex;
  justify-content: space-between;
}
.product-item__content__add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.product-item__content__add:hover {
  cursor: pointer;
}
.header__search {
  margin-left: 510px;
  width: 100%;
}
.header__input_search {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #fff;
  color: #666;
  padding: 0 20px;
}
.header__icon__search {
  width: 17px;
  height: 17px;
  color: #333;
  font-weight: 500;
  position: relative;
  top: -2px;
  left: -40px;
}
.header__banner {
  width: 720px;
  height: 200px;
  background-color: #ffecd1;
  margin: 40px 0 40px 60px;
  border-radius: 20px;
}
